<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Más información:</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="footer-list">
          <li>
            {% include icon-rss.html %}
          </li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
        <!-- <ul class="footer&#45;list"> -->
        <!--   <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
        <!-- </ul> -->
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description }}</p>
      </div>

      <!-- <div class="footer&#45;col footer&#45;col&#45;3"> -->
      <!-- </div> -->
    </div>

  </div>

</footer>
